page-login {

  ion-grid.login-page {
    margin-top: 20vh;
  }
  h1 {
    text-align: center;
    letter-spacing: 2px;
  }
// implementing error box
  .error-box-main {
    color: #D8000C;
    background-color: rgba(255,255,255, 0.65);
    margin: 10px 0;
    padding: 12px;
  }
}
