<ion-header text-center>
  <ion-navbar hideBackButton>
    <ion-buttons item-start class="back-btn" class="customBackButton">
      <button (click)="goBack()" style=" background-color: transparent;">
          <ion-icon name="md-arrow-back" style="font-size: 1.7em; color: #424242;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Recent Entries</ion-title>
    <cloud></cloud>
  </ion-navbar>
</ion-header>


<ion-content>
  <div text-center class="currentDateHeader">{{ this.date }}</div>
  <!-- Create entry -->
  <div class="newEntry" text-center (click)="addNewEntry()">
      <p><img width="50" height="50" src="./assets/imgs/icons/calenderAdd.png" alt=""><br>
      Add Entry</p>
  </div>
  <div *ngIf="this.entriesz == null">
    <p style="margin-top: 10%;" text-center>You dont have any entries yet..!</p>
  </div>
  <!-- Recent Entries List -->
  <div *ngFor="let entrie of entriesz" style="margin-bottom: 30%;">
      <ion-list>
          <div text-center class="recentEntryDateHeader">
            <p>{{ entrie.date }}</p>
            <ion-badge *ngIf="entrie.streak_number != 0" class="recentEntries-counter">{{entrie.streak_number}}</ion-badge>
          </div>
          <div *ngFor="let entry of entrie.entries let i = index">
              <ion-item class="recentEntries">
                  <ion-label>
                     <strong><h2>{{ entry.entry_title }}</h2></strong><br>
                    <p class="recentEntries-innertext" text-wrap>{{ entry.entry_description }}</p> 
                  </ion-label>
                  <ion-avatar item-end>
                     <div class="recentEntries-emoji">
                      <img class="recentEntries-emoji-extra" src="./assets/imgs/icons/smile-emoji-recent-entries.png" alt="">
                      <ion-badge class="recentEntries-counter-emoji">{{ i + 1 }}</ion-badge>
                    </div>
                  </ion-avatar>
                </ion-item>
          </div>
          
      </ion-list>
  </div>
</ion-content>
<ion-footer>
  <!-- Implementing Home footer component -->
  <home-footer></home-footer>
</ion-footer>
