<ion-content>
  <button clear class="backbutton" ion-button icon-only (click)="goBack()">
    <ion-icon name="md-arrow-back"></ion-icon>
  </button>
<cloud></cloud>
<div class="boxOfAlligment">
    <div class="forgotPasswordText">
        <p>Reset Password</p>
    </div>
      <ion-grid>
          <form [formGroup]="resetPassForm" (ngSubmit)="resetPass(resetPassForm.value)">
        <ion-row>
          <ion-col col-12>
              <ion-item no-lines>
                <ion-label><ion-icon name="ios-lock-outline" item-start></ion-icon></ion-label>
                <ion-input [formControl]="resetPassForm.controls['password']" [(ngModel)]="newPass"  [type]="passwordType" placeholder="New Password" ></ion-input> 
                <ion-icon  style="font-size: 25px;z-index: 999999;" [name]="passwordShown === true ? 'ios-eye-outline' : 'ios-eye-off-outline'" (click)="togglePassword()" item-end></ion-icon>
                </ion-item>
               <span *ngIf="resetPassForm.get('password').dirty || formSubmitclicked">
                  <small class="error"  *ngIf="resetPassForm.controls['password'].hasError('required') && resetPassForm.controls['password'].touched">* Password is required!</small>
                  <small class="error" *ngIf="resetPassForm.controls['password'].hasError('minlength') && resetPassForm.controls['password'].touched">* Minimum password length is 8!</small>
                </span>
              <br>
               <ion-item no-lines>
                <ion-label><ion-icon name="ios-lock-outline" item-start></ion-icon></ion-label>
                <ion-input [formControl]="resetPassForm.controls['confirmPass']"  [type]="passwordType" placeholder="Confirm Password" ></ion-input> 
                <ion-icon  style="font-size: 25px;z-index: 999999;" [name]="passwordShown === true ? 'ios-eye-outline' : 'ios-eye-off-outline'" (click)="togglePassword()" item-end></ion-icon> 
                </ion-item>
               <span *ngIf="resetPassForm.get('confirmPass').dirty || formSubmitclicked">
                  <small class="error"  *ngIf="resetPassForm.controls['confirmPass'].value != '' && resetPassForm.controls['password'].value != resetPassForm.controls['confirmPass'].value">* Password does not match</small>
              </span>
               <br>
               <br>
               <button  type="submit" style="border-radius: 5px; text-transform:none; letter-spacing: 1px;" ion-button color="primary" full>Reset Password</button>
          </ion-col>
        </ion-row>
      </form>
      </ion-grid>
     
</div>

<footerlogin  class="footerResp"></footerlogin>
</ion-content>

