<ion-content class="no-scroll">
  <button clear class="backbutton" ion-button icon-only  (click)="goBack()">
      <ion-icon name="md-arrow-back"></ion-icon>
  </button>
  <cloud></cloud>
<div class="alligingItems">
<form [formGroup]="authForm" (ngSubmit)="signUp(authForm.value)">
  <ion-grid justify-content-center class="login-page">
    <ion-row>
      <ion-col>
        <h1>Register</h1>
      </ion-col>
    </ion-row>
    <ion-row>
        <div class="error-box-main" *ngIf="this.response">
          {{  this.emailIfExists }}
          </div>
        <ion-col col-12>
            <ion-item no-lines>
               <ion-input [formControl]="authForm.controls['name']" type="name" placeholder="Enter your name" ></ion-input>

             </ion-item>
             <span *ngIf="authForm.get('name').dirty || formSubmitclicked">
              <small class="error" *ngIf="authForm.get('name').hasError('pattern')">* This field contains valid characters i.e. A,a -Z,z</small>
                <small class="error" *ngIf="authForm.get('name').hasError('required')">* Name is required.</small>
            </span>
            </ion-col>
        <ion-col col-12>
              <ion-item no-lines>
                 <ion-input [formControl]="authForm.controls['email']" type="email" placeholder="Enter an email" ></ion-input> 
               </ion-item>
          <span *ngIf="authForm.get('email').dirty || formSubmitclicked">
            <!-- <small class="error" *ngIf="this.checkingEmailIfExists">{{}}</small> -->
            <small class="error" *ngIf="authForm.get('email').hasError('required')">* Email is required.</small>
            <small class="error" *ngIf="authForm.get('email').hasError('pattern')">* This field must contain a valid email address.</small>
        </span>
        </ion-col>
        <ion-col col-12>
          <ion-item no-lines>
             <ion-input [formControl]="authForm.controls['password']" [type]="passwordType"   placeholder="Enter your password" ></ion-input> 
             <ion-icon  style="font-size: 25px;z-index: 999999;" name="ios-eye-outline" (click)="togglePassword()" item-end></ion-icon> 
           </ion-item>  
           <span *ngIf="authForm.get('password').dirty || formSubmitclicked">

            <small class="error"  *ngIf="authForm.controls['password'].hasError('required') && authForm.controls['password'].touched">* Password is required!</small>
            <small class="error" *ngIf="authForm.controls['password'].hasError('minlength') && authForm.controls['password'].touched">* Minimum password length is 8!</small>
          </span>
        </ion-col>
        <ion-col col-12>
            <ion-item no-lines>
               <ion-input [formControl]="authForm.controls['confirmPass']" [type]="passwordTypeConfirm"  placeholder="Confirm your password" ></ion-input> 
               <ion-icon  style="font-size: 25px;z-index: 999999;" name="ios-eye-outline" (click)="togglePasswordConfirm()" item-end></ion-icon> 
             </ion-item>  
             <span *ngIf="authForm.get('confirmPass').dirty || formSubmitclicked">
                <small class="error"  *ngIf="authForm.controls['confirmPass'].value != '' && authForm.controls['password'].value != authForm.controls['confirmPass'].value">* Password does not match</small>
            </span>
        </ion-col>
  </ion-row>
   </ion-grid>
     <div padding>
        <button ion-button type="submit" style="letter-spacing: 2px; font-size:0.9em;" full>Sign up</button>
      </div>
</form>

</div>

<footerlogin class="footerResp" [authFacebook]="authfb" [authTwitter]="authtweet" [authInstagram]="authInsta"></footerlogin>
</ion-content>
