// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.alert-md .alert-sub-title {
    font-size: 14px;
    color: #424242cf;
}
.alert-md .alert-title {
    font-size: 19px;
    color: #01AEF0;
}
.alert-md .alert-wrapper {
    border-radius: 20px;
    max-width: 280px;
    background-color: #ffffffed;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px 2px rgba(0, 0, 0, 0.4);
}
.alert-md .alert-button{
    text-transform: none;
}
.alert-md .alert-input {
    margin: 6px 0;
    border-bottom: 1px solid #dedede;
    color: #000;
}

.custom6DigitAlert .alert-input {
    padding: 7px 5px;
    background: inherit;
    width: 60%;
}
.custom6DigitAlert .alert-md .alert-message,.custom6DigitAlert .alert-md .alert-input-group {
    color: rgba(0, 0, 0, 0.5);
    padding: 0 43px 27px;
    float: left;
    display: inline-flex;
}
.custom6DigitAlert .alert-input-wrapper {
    width: 16.66666666666667%;
    float: left;
}
    