page-forgot-password {
    .ion-label{
        padding: 5px;
    }
    .item-md {
        background-color: #CDEFFB;
        border-radius: 8px;
        height: 15%;
      }
      .forgotPasswordText p{
        font-size: 25px;
        text-align: center;
        color: black;
        letter-spacing: 1px;    
      }
      .pleaseEnterYourEmailText p{
          text-align: center;
          font-size: 1.4rem;
          letter-spacing: 1px;
          color: black;
      }
      .boxOfAlligment{
          margin-top: 20vh;
      }
      ion-input{
        font-size: 0.7em;
      }
      .backbutton{
        z-index: 9999999;
      }
      @media (max-height: 522px) {
        .footerResp {
          visibility: hidden;
        }
      }
}
