<ion-content padding>
  <button clear class="backbutton" ion-button icon-only  (click)="goBack()">
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>
<cloud></cloud>
<div class="boxOfAlligment">
    <div class="forgotPasswordText">
        <p>Forgot Password</p>
    </div>
    <div class="pleaseEnterYourEmailText">
      <p>Please enter your Email</p>
    </div>
      <ion-grid>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotpassword(forgotPasswordForm.value)">

        <ion-row>
          <ion-col col-12>
              <ion-item no-lines>
                  <ion-label><ion-icon name="ios-mail" item-start></ion-icon></ion-label>
                 <ion-input  [formControl]="forgotPasswordForm.controls['email']" [(ngModel)]="email"  type="email" placeholder="Email" ></ion-input> 
               </ion-item><br>
               <span *ngIf="forgotPasswordForm.get('email').dirty || formSubmitclicked">     
                <small class="error" *ngIf="forgotPasswordForm.get('email').hasError('required')">* Email is required.</small>
                <small class="error" *ngIf="forgotPasswordForm.get('email').hasError('pattern')">* This field must contain a valid email address</small>
            </span>
               <br>
               <button  style="border-radius: 5px; text-transform:none; letter-spacing: 1px;" ion-button color="primary" type="submit" full>Submit</button>
          </ion-col>
        </ion-row>
      </form>
      </ion-grid>
     
</div>

<footerlogin  class="footerResp"></footerlogin>
</ion-content>
