page-about {
    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 100px;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: auto;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
    }
    .content-md {
        color: #000;
        background-color: white;
    }
    ion-header{
        position: relative;
    }
    .back-button.show-back-button {
        display: block;
        position: absolute;
        left: 5px;
        z-index: 999999999;
    }
    .toolbar-background-md, .toolbar-background-ios {
        background: rgba(248, 248, 248, 0.5);
    }
    .aboutus-heading{
        margin-top: 10px;
    }
    .label-ios {
        font-size: 1em;
        color: #424242cf;
    }
    .customBackButton{
        display: block;
        z-index: 999999999;
        position: absolute;
        margin-left: 5px;
    }
}
